#cute {
	font-family: "Pacifico", cursive;
	font-size: 2em;
}

#classy {
	font-family: "Lato", sans-serif;
	font-size: 3em;
}

.greeting {
	color: white;
	font-family: "Lobster", cursive;
	font-size: 3em;
	text-align: center;
	text-shadow:
   -1px -1px 0 gray,  
    1px -1px 0 gray,
    -1px 1px 0 gray,
     1px 1px 0 gray;
}

.question {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.button {
	text-align: center;
}

img {
	height: 400px;
}
