body {
	background-color: #C6EADD;
}

/*.button {
	background: white;
	height: 100px;
	width: 100px;
	border: gray 2px dashed;
	font-size: 2em;
	text-align: center;
	margin-right: 10px;
	font-family: "Pacifico", cursive;
	color: gray;
}

.greeting {
	font-family: "Lobster", cursive;
}*/